div(
    class="site_nav button-primary"
)
 div(class="close_button_div")
  button(class='button-primary-oulined close_nav') x
 h3(class="fav-header") Навігація
 a(href="/search")
  button(class="nav_button") Пошук по назві
  button(class="nav_button") Пошук по року виходу
  button(class="nav_button") Пошук по жанру
  button(class="nav_button") Додати кінокартину
 div(id="category-list")
 h3(class="fav-header") Улюблені
 div(id="fav-nav")
 div(class="text-right")
  a(
      href="/favorite"
      target="_blank"
  )